.carousel-indicators button {
  background-color: rgba(66, 66, 66, 0.5) !important;
  width: 10px !important;
  height: 10px !important;
  border-radius: 50% !important;
  margin: 0px 7px !important;
}

.carousel-indicators .active {
  background-color: rgba(0, 0, 0, 0.829) !important;
}
.carousel-item-img {
  object-fit: cover;
  object-position: center bottom;
  min-height: 400px;
}
