.carousel-indicators button {
  background-color: rgba(66, 66, 66, 0.5) !important;
  width: 10px !important;
  height: 10px !important;
  border-radius: 50% !important;
  margin: 0px 7px !important;
}

.carousel-indicators .active {
  background-color: rgba(0, 0, 0, 0.829) !important;
}

.carousel-item-img {
  min-height: 400px !important;
  object-fit: cover;
  object-position: center bottom;
}

@media screen and (min-width: 1000px) {
  .carousel-item-img {
    max-height: 670px;
  }
}

@media screen and (min-width: 1100px) {
  .carousel-item-img {
    max-height: 850px;
  }
}

@media screen and (min-width: 1290px) {
  .carousel-item-img {
    max-height: 90% !important;
  }
}
